body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f7fa;
  color: #333;
}

header {
  background: #0a2540;
  color: white;
  padding: 40px;
  text-align: center;
}

section {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #0a2540;
}

ul {
  list-style-type: square;
}

footer {
  background: #eaeaea;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
